<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-12">
                    <h5 class="card-title">Barra de progreso uno - <strong>{{ progreso1 }}</strong></h5>
    
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso1" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso1 + '%'"></div>
                    </div>
                </div>
                <br />
                <div class="col-12">
                    <h5 class="card-title">Barra de progreso dos - <strong>{{ progreso2 }}</strong></h5>
    
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso2" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso2 + '%'"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-incrementador (cambioValor)="progreso1 = $event" leyenda="Barra de progreso 1" [progreso]="progreso1"></app-incrementador>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                <app-incrementador (cambioValor)="progreso2 = $event" leyenda="Barra de progreso 2" [progreso]="progreso2"></app-incrementador>

            </div>
        </div>
    </div>

</div>